/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
/* JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/*RESPONSIVITY*/

/*TAB*/
@media screen and (max-width: 1024px) {
  /*LANDING PAGE*/
  .landing-logo img {
    height: 45rem;
    margin-left: -11rem;
    width: auto;
  }

  .header-text span {
    font-size: 5rem;
  }

  .landing-text {
    margin-bottom: 26rem;
    margin-right: -100rem;
    margin-left: 0.7rem;
  }

  /*MY JOURNEY*/

  .my-journey-list {
    margin-top: 3rem;
  }

  .my-journey-header h3 {
    overflow: hidden;
    text-align: center;
    font-size: 4rem;
    margin-top: 3rem;
    font-family: var(--jetbrains);
    color: #333333;
  }

  .my-journey-header h3:before,
  .my-journey-header h3:after {
    background-color: #333333;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10%;
  }

  .my-journey-header h3:before,
  .my-work-header h3:before,
  .footer-header h3:before {
    right: 0.5em;
    margin-left: -50%;
  }

  .my-journey-header h3:after,
  .my-work-header h3:after,
  .footer-header h3:before {
    left: 0.5em;
    margin-right: -50%;
  }

  .my-journey-header p,
  .my-work-header p,
  .my-work-links a,
  .confession-box p,
  .footer p {
    font-size: 2rem;
    font-family: var(--inter);
  }

  .my-journey-item {
    overflow: auto;
    line-height: 1.6;
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 5rem;
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.5s ease-in-out; /* Add transition for opacity */
  }

  .my-journey-item.fade-in {
    opacity: 1; /* Set opacity to 1 for fade-in effect */
  }

  .journey-image {
    width: 15rem;
    max-height: 15rem !important;
    border-radius: 1rem;
    float: left;
    margin-right: 2rem;
  }

  .journey-content {
    margin-left: 17rem;
  }

  .journey-title {
    font-family: var(--jetbrains);
    color: var(--blue-link);
    font-size: 2.5rem;
  }

  .journey-time {
    font-family: var(--inter);
    color: var(--green-accent);
    font-size: 2rem;
  }

  .journey-definition {
    font-family: var(--inter);
    color: var(--grey-text);
    font-size: 1.5rem;
  }

  /* MY WORK */
  .my-work-header h3 {
    overflow: hidden;
    text-align: center;
    font-size: 3.5rem;
    font-family: var(--jetbrains);
    color: #ffffff;
  }

  .my-work-links {
    display: flex;
    margin-top: 2.6rem;
    justify-content: center;
  }

  .my-work-links h3 {
    font-family: var(--jetbrains);
    font-size: 2.3rem;
    margin-bottom: 0.6rem;
  }

  .my-work-links a {
    color: var(--blue-link);
    font-size: 2rem;
    text-decoration: underline;
  }

  .leaf-icon {
    height: 3rem;
    width: 3rem;
  }

  .laptop-icon,
  .note-icon {
    object-fit: cover;
    height: 2.3rem;
    width: 2.3rem;
  }

  /* CONFESSION BOX */
  .confession-box h2 {
    font-size: 3rem;
    margin: 0 10rem;
  }

  .confession-box p {
    margin: 0 10rem;
    line-height: 1.5;
    margin-bottom: 1.4rem;
  }

  .mail-icon {
    object-fit: cover;
    height: 1.4rem;
    width: 1.7rem;
  }

  .wink-icon {
    object-fit: cover;
    height: 1.1rem;
    width: 1.1rem;
  }

  .confession-form {
    border-radius: 2rem;
    height: 7rem !important;
    width: 27rem;
    padding: 1.2rem;
  }

  .confession-form::placeholder {
    font-family: var(--inter);
    text-align: left;
    vertical-align: middle;
    line-height: 4rem;
  }

  .confession-btn {
    margin-top: 1rem;
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 1.2rem;
    border-width: 0;
    box-shadow:
      rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
      #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    font-family: 'JetBrains Mono', monospace;
    height: 3rem;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition:
      box-shadow 0.15s,
      transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 2rem;
    font-family: var(--inter);
  }

  /* FOOTER */
  .footer img {
    height: 12rem;
  }

  .footer p {
    color: #ffffff;
    font-family: var(--inter);
  }

  .fire-icon {
    object-fit: cover;
    height: 2.5rem !important;
  }

  .socmed-icons img {
    width: 5rem;
    height: 5rem;
    transition: transform 0.3s ease-in-out;
  }
}

@media screen and (max-width: 414px) {
  * {
    margin: 0;
    margin-left: 0;
    margin-right: 0;

    box-sizing: border-box;
  }

  body,
  html {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    width: 100vh !important;
  }

  #root {
    height: 100%;
  }

  .landing-header {
    height: 121.5rem;
  }

  .header-text {
    margin-left: 5rem;
  }

  .my-journey {
    padding-top: 3rem;
  }

  .my-work {
    margin: 0;
    padding: 5rem;
    padding-top: 4rem !important;
  }

  .my-work-header p {
    margin: 0 5rem;
  }

  .leaf-icon {
    margin-left: -1rem;
  }

  .my-work-links Link,
  .my-work-links a {
    font-size: 2rem;
  }

  .my-work-links {
    margin-top: 3rem;
  }

  .my-project-links h3 {
    margin-right: -3rem;
  }

  .confession-box {
    margin: 0;
  }

  .confession-box h2 {
    font-size: 2.8rem;
  }

  .confession-box p br {
    display: none;
  }

  .footer {
    margin: 0;
  }

  .footer p {
    font-family: var(--jetbrains);
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem 2rem 0 2rem;
  }

  .footer-slogan {
    display: none;
  }

  .footer-socmed {
    padding-bottom: 2rem;
  }

  .socmed-icons img {
    width: 5rem;
    height: 5rem;
  } 
}
